<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ingredient Form</title>

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <form  th:object="${ingredient}" th:action="@{'/recipe/' + ${ingredient.recipeId} + '/ingredient' }"  method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label for="description">Description:</label>
            <input id="description" type="text" class="form-control" placeholder="Enter Description" th:field="*{description}">
        </div>
        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="number" class="form-control" placeholder="Enter Amount" id="amount" th:field="*{amount}">
        </div>
        <div class="form-group">
            <label for="uom">Unit Of Measure:</label>
            <select id="uom" class="form-control" name="unitOfMeasure.id">
                <!--/*@thymesVar id="uomList" type="java.util.Set<com.hgsachin.springrecipedemo.commands.UnitOfMeasureCommand>"*/-->
                <option th:each="uomEach : ${uomList}"
                        th:value="${uomEach.id}"
                        th:selected="${uomEach.id.equals(ingredient.unitOfMeasure.id)}"
                        th:text="${uomEach.unitOfMeasure}">Select</option>
            </select>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>