<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingredients List</title>

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container" th:if="${not #lists.isEmpty(recipe.ingredients)}">
    <table class="table table-hover">
        <thead>
            <tr>
                <th colspan="2" class="text-center text-capitalize" th:text="${recipe.description} + ' Ingredients!!!'">
                    Recipe Ingredients
                </th>
                <th colspan="3">
                    <a class="btn btn-outline-info float-right"
                       th:href="${'/recipe/' + recipe.id + '/ingredient/new'}">
                        New
                    </a>
                </th>
            </tr>
        </thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Ingredient</th>
            <th scope="col">View</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
        <tr th:each="ingredient: ${recipe.ingredients}">
            <td th:text="${ingredient.id}">NA</td>
            <td class="text-capitalize"
                th:text="${ingredient.amount + ' ' + ingredient.unitOfMeasure.unitOfMeasure + ' ' + ingredient.description}">
                NO Data
            </td>
            <td><a th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/show'}">View</a></td>
            <td><a th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/update'}">Update</a></td>
            <td><a th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/delete'}">Delete</a></td>
        </tr>
    </table>
    <a class="btn btn-success" th:href="${'/recipe/' + recipe.id + '/ingredient/new'}">Add New Ingredient</a>
    <a class="btn btn-info" href="/">Home</a>
</div>
</body>
</html>