<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingredients List</title>

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</head>
<body>
<h1 class="text-center" th:text="${ingredient.description} + ' Details!!!'">Ingredient Details</h1>

<div class="container">
    <table class="table table-hover">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Description</th>
            <th scope="col">Quantity</th>
            <th scope="col">View</th>
            <th scope="col">Delete</th>
        </tr>
        <tr>
            <td th:text="${ingredient.id}">NA</td>
            <td th:text="${ingredient.description}">NA</td>
            <td th:text="${ingredient.amount + ' ' + ingredient.unitOfMeasure.unitOfMeasure}">NO Data</td>
            <!--<td><a th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/show'}">View</a></td>
            <td><a th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/update'}">Update</a></td>
            <td><a th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/delete'}">Delete</a></td>-->
        </tr>
    </table>
    <a class="btn btn-success" href="/recipe/new">Add New Ingredient</a>
</div>
</body>
</html>